/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 9, 2023, 1:19:57 PM
    Author     : Jennifer
*/

body{
        font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}
h2 {
    font-size: 14pt;
}

/*Header*/
header {
    background-color: #333; 
    color: #fff;
    padding: 20px;
    text-align: center; 
}

nav ul {
    list-style: none; 
}

nav ul li {
    display: inline; 
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none; 
    color: #fff; 
    font-weight: bold; 
}

/*Formularios*/

.opciones {
            margin: 20px;
        }

        button {
            padding: 10px 20px;
            margin: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }

        .formulario {
            background-color: #fff;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin: 20px auto;
            max-width: 400px;
        }

        .formulario h2 {
            font-size: 18px;
            margin-top: 0;
        }