/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 13, 2023, 6:40:38 PM
    Author     : Jennifer



body{
    font-family: Arial, sans-serif;
    background-color: burlywood;
    margin: 0;
    padding: 0;
    text-align: center;
}
h2 {
    font-size: 14pt;
}

a{
    
}*/

 body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .message-box {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            padding: 20px;
            text-align: center;
        }

        .success {
            color: #1E8449; /* Color verde para mensajes de éxito */
        }

        .error {
            color: #D81B60; /* Color rojo para mensajes de error */
        }

        h1 {
            font-size: 24px;
        }

        p {
            font-size: 18px;
        }