
body{
        font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}
h2 {
    font-size: 14pt;
}

.box {
display: flex; /* Utiliza flexbox para alinear los botones horizontalmente */
    align-items: center; /* Centra verticalmente los elementos dentro del contenedor */
    justify-content: space-between; /* Distribuye los elementos equitativamente */
    padding: 12px;
}

.button {
    color: midnightblue;
    border: 2px solid black;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 20px; /* Ajusta el espaciado del botón */
    background-color: lightcyan;
    border-radius: 6px;
}

.button:hover {
    background: #ccc; /* Cambia el color de fondo al pasar el ratón */
}

.overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 64px auto;
    padding: 24px;
    background: #fff;
    border-radius: 6px;
    max-width: 400px; /* Limita el ancho del popup */
    position: relative;
    transition: all 0.5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: sans-serif;
}

.popup .close {
    position: absolute;
    top: 8px;
    right: 8px; /* Coloca el botón de cierre en la esquina superior derecha */
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    transition: all 200ms;
}

.popup .close:hover {
    color: #d8065f;
}

.popup .content {
    max-height: 60%; /* Aumenta el espacio para el contenido */
    overflow: auto;
}

.container{
display: grid;
  place-items: center; 
  height: 100vh;
  padding-bottom: 250px;
  padding-top: 30px;
  color: navy;
    
}

@media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
}

/*Header*/

header {
    background-color: #333; 
    color: #fff;
    padding: 20px;
    text-align: center; 
}

nav ul {
    list-style: none; 
}

nav ul li {
    display: inline; 
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none; 
    color: #fff; 
    font-weight: bold; 
}

nav ul li a:hover{
    color: activecaption;
}

.button1{
     color: midnightblue;
    border: 2px solid black;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 20px; /* Ajusta el espaciado del botón */
    background-color: lightcyan;
    border-radius: 6px;
}

.button1:hover {
    background: #ff4861;
}
