<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>com.mycompany.proyecto01prograiv.presentation.login.Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crearGrupoServlet</servlet-name>
        <servlet-class>com.mycompany.proyecto01prograiv.presentation.CrearGrupoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaGruposServlet</servlet-name>
        <servlet-class>com.mycompany.proyecto01prograiv.presentation.ConsultaGruposServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnirseGrupoServlet</servlet-name>
        <servlet-class>com.mycompany.proyecto01prograiv.presentation.UnirseGrupoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaEstudianteServlet</servlet-name>
        <servlet-class>com.mycompany.proyecto01prograiv.presentation.ConsultaEstudianteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaGrupoTrabajoServlet</servlet-name>
        <servlet-class>com.mycompany.proyecto01prograiv.presentation.ConsultaGrupoTrabajoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crearGrupoServlet</servlet-name>
        <url-pattern>/crearGrupoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaGruposServlet</servlet-name>
        <url-pattern>/ConsultaGruposServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnirseGrupoServlet</servlet-name>
        <url-pattern>/UnirseGrupoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaEstudianteServlet</servlet-name>
        <url-pattern>/ConsultaEstudianteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaGrupoTrabajoServlet</servlet-name>
        <url-pattern>/ConsultaGrupoTrabajoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            5
        </session-timeout>
    </session-config>
</web-app>
